body {
    font-family: sans-serif;
    margin: 20px;
    transition: background 0.3s, color 0.3s;
  }
  
  .dark {
    background: #222;
    color: #fff;
  }
  
  .error {
    color: red;
    font-size: 0.8em;
  }
  